/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    macros {
        dash: dash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N1>,
                <&macro_release>,
                <&kp LALT>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp N1     &kp N2  &kp N3  &kp N4     &kp N5        &kp N6                         &kp N7  &kp N8         &kp N9     &kp N0   &kp MINUS  &kp EQUAL
&kp ESC    &kp Q   &kp W   &kp E      &kp R         &kp T                          &kp Y   &kp U          &kp I      &kp O    &kp P      &kp BACKSPACE
&kp TAB    &kp A   &kp S   &kp D      &kp F         &kp G                          &kp H   &kp J          &kp K      &kp L    &kp SEMI   &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C      &kp V         &kp B   &kp LBKT     &kp RBKT  &kp N   &kp M          &kp COMMA  &kp DOT  &kp FSLH   &kp RSHFT
                           &kp LCTRL  &kp LEFT_ALT  &mo 1   &kp SPACE    &kp RET   &mo 1   &kp RIGHT_ALT  &kp RCTRL
            >;
        };

        option {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F1  &kp F2           &kp F3             &kp F4      &kp F5           &kp F6                           &kp F7     &kp F8     &kp F9     &kp F10    &kp F11               &kp F12
&trans  &kp PRINTSCREEN  &kp HOME           &kp UP      &kp END          &kp GRAVE                        &trans     &kp KP_N7  &kp KP_N8  &kp KP_N9  &dash                 &kp DEL
&trans  &kp SCROLLLOCK   &kp LEFT           &kp DOWN    &kp RIGHT        &kp PAGE_UP                      &trans     &kp KP_N4  &kp KP_N5  &kp KP_N6  &trans                &trans
&trans  &kp PAUSE_BREAK  &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP  &kp PAGE_DOWN  &trans    &trans  &kp KP_N0  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp NON_US_BACKSLASH  &trans
                                            &trans      &trans           &trans         &trans    &trans  &trans     &trans     &trans
            >;
        };

        game {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp Q   &kp W   &kp E   &kp R                     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp A   &kp S   &kp D   &kp F                     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp Z   &kp X   &kp C   &kp V   &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
